body { 
    background-color: #c1c9ca;
}

.content {
	margin: 10px;
}

.topbar {
	background-color: #262031;
	padding: 5px;
}
.portfolio-caption {
	background-color: #508c87;
	padding: 20px;
	margin: 5px;
}

h1.topbar {
	color: #508c87;
}