body { 
    background-color: #8d8d8d;
    padding-top: 120px;
}

.the-navbar {
	background-color: #f8f8f8;
}

.nav {
	position: absolute;
	bottom: 0;
	right: 0;
}

.content {
	margin: 10px;
}

.btn-primary {
	background-color: #b8d134;
	border-color: #7e7e7e;
}

.btn-primary:hover {
	background-color: #68caef;
	border-color: #7e7e7e;
}

.topbar {
	background-color: #262031;
	padding: 5px;
}
.portfolio-caption {
	background-color: #f8f8f8;
	padding: 20px;
	margin: 5px;
}

h1.topbar {
	color: #508c87;
}