{% extends "base.html" %}

{% block content %}
{% if content['title'] %}
<h3>{{ content['title'] }}</h3>
{% endif %}
{% if content['copy'] %}
<p>{{ content['copy'] }}</p>
{% endif %}
{% if content['picture'] %}
<img src="{{url_for('static', filename=content['picture'])}}" class="img-responsive">
{% endif %}
{% if prev_url %}
<a role="button" href="{{ prev_url }}", class="btn btn-primary">
Previous Page</a>
{% endif %}
{% if next_url %}
<a role="button" href="{{ next_url }}", class="btn btn-primary">
Next Page</a>
{% endif %}
{% endblock %}